! ------------------------------------------------------------------------------
! All Color theme
! ------------------------------------------------------------------------------

! special
foreground:   #DCDCDC
background:   #2D2D2D
cursorColor:  #DCDCDC

! black
color0:       #333333
color8:       #969896

! red
color1:       #f0544c
color9:       #f0544c

! green
color2:       #5dba6f
color10:      #5dba6f

! yellow
color3:       #f6d756
color11:      #f6d756

! blue
color4:       #145eb8
color12:      #145eb8

! magenta
color5:       #ea76bb
color13:      #ea76bb

! cyan
color6:       #4cb6e5
color14:      #4cb6e5

! white
color7:       #DCDCDC
color15:      #DCDCDC

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.modi:          drun,run
rofi.color-enabled: true
!                   background   border    separator
rofi.color-window:  #2D2D2D,     #7d7d7d,  #2D2D2D
rofi.color-normal:  #2D2D2D,     #d8dee9,  #2D2D2D, #d8dee9, #2D2D2D
rofi.color-active:  #2D2D2D,     #2D2D2D,  #2D2D2D, #2D2D2D, #d8dee9
rofi.color-urgent:  #2D2D2D,     #f0544c,  #2D2D2D, #f0544c, #d8dee9

!rofi.separator-style: solid
!rofi.sidebar-mode:    true
rofi.padding:         20
rofi.bw:              1
rofi.scrollbar-width: 0
!rofi.line-margin:     0
