 ------------------------------------------------------------------------------
! All Color theme
! ------------------------------------------------------------------------------

! special
foreground:   #DCDCDC
background:   #2D2D2D
cursorColor:  #DCDCDC

! black
color0:       #333333
color8:       #969896

! red
color1:       #f0544c
color9:       #f0544c

! green
color2:       #5dba6f
color10:      #5dba6f

! yellow
color3:       #f6d756
color11:      #f6d756

! blue
color4:       #145eb8
color12:      #145eb8

! magenta
color5:       #ea76bb
color13:      #ea76bb

! cyan
color6:       #4cb6e5
color14:      #4cb6e5

! white
color7:       #DCDCDC
color15:      #DCDCDC
