/********************************************************************/
/************************** footnotes *******************************/
/********************************************************************/


/* Приховати лінію перед примітками */
hr.footnotes-sep,
.footnotes hr,
.footnotes > hr {
  display: none !important;
}


/* Додати заголовок "Примітки" */
.markdown-preview-view .footnotes::before {
  content: "Примітки";
  display: block;
  font-weight: bold; /* Жирний шрифт */
  font-size: 1.6em;
  margin-top: 2.5em;
  margin-bottom: 1em;
  line-height: 1.3;           /* Міжрядковий інтервал */
  color: var(--text-normal); /* Підлаштовується під тему */
}

/* Стиль тексту всередині приміток */
.markdown-preview-view .footnotes {
  font-size: 1em;                /* Зручний розмір тексту */
  line-height: 1.5;              /* Простір між рядками */
  color: var(--text-normal);
  margin-left: 0;                /* Відсутність зайвих відступів зліва */
  padding-left: 0;
}

/* Прибрати квадратні дужки footnote */



/* Прибрати відступ знизу у елементів другого рівня*/

ul ul li:first-child {
  margin-top: 10px; /* або потрібне тобі значення */
}

/* Приховати вертикальну лінію зліва у вбудованих блоках */
.markdown-preview-view .markdown-embed,
.markdown-reading-view .markdown-embed {
  margin-top: -15px !important;
  border-left: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

/* Прибрати псевдолінії у темах Obsidian */
ul ul::before,
ul ul ul::before,
ul ul ul ul::before {
  display: none !important;
}

/* Текст в Dataview inline */

.markdown-preview-view span.dataview.inline-field-standalone-value {
  font-family: var(--font-text) !important;
  font-size: 1em !important;
  font-weight: normal !important;
  color: var(--text-normal) !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  /*margin: 0 !important;*/
  line-height: 1.6 !important;
}

/* Збільшити відступ для блоків callout за покликанням */

@media print {
  .internal-embed.markdown-embed.inline-embed.is-loaded .callout-content {
    margin-bottom: var(--callout-margin-bottom) !important;
  }
  .internal-embed {
  margin-bottom: -1em !important;
  }
}

@media screen {
  .internal-embed.markdown-embed.inline-embed.is-loaded .callout-content {
    margin-bottom: 1.5em !important; /* або інше значення для нотаток */
  }
}

/* Робимо виконані задачі тьмяними */
.task-list-item.is-checked,
.task-list-item.is-done,
.task-list-item.completed {
  /* opacity: 0.5; */
  display: none !important;
}

/* Стиль задач */
ul > li.plugin-tasks-list-item {
    grid-template-columns: 25px auto;
    display: grid;
    align-items: top;
}

span.task-description {
    grid-row: 1;
    grid-column: 1/10;
}

span.tasks-backlink {
    grid-row: 2;
    grid-column: 2;
    opacity: 0.5;
    font-size: small;
}

span.task-recurring {
    grid-row: 2;
    font-size: small;
    opacity: 0.5;
    width: max-content;
}

span.task-due {
    grid-row: 2;
    font-size: small;
    width: max-content;
}

span.task-scheduled {
  opacity: 0.5;
  font-size: small;
}

span.task-done {
    grid-row: 2;
    font-size: small;
    width: max-content;
}

.tasks-list-text {
    position: relative;
    display: inline-grid;
    width: max-content;
    grid-column-gap: 10px;
}

span.task-extras {
    grid-row: 2;
    grid-column: 2;
    font-size: small;
}

/* Make sure nested bullets in Reading mode get the whole width of the grid */
li.task-list-item ul.has-list-bullet {
 grid-row: 3;
 grid-column: 1/10;
}

/* Оформлення таблиць Dataviw */

.dataview.table-view-table td {
    white-space: normal !important;
    word-wrap: break-word;
    max-width: none;
}

/* Прибираємо маркери та всі відступи для масивів у Dataview */
.dataview.table-view-table td ul,
.dataview.table-view-table td ol {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Прибираємо відступи у li */
.dataview.table-view-table td ul li,
.dataview.table-view-table td ol li {
    margin: 0 !important;
    padding: 0 !important;
}

/* За замовчуванням — перенос */
.dataview.table-view-table td {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: none !important;
}

/* Якщо є посилання — без переносу */
.dataview.table-view-table td:has(a) {
    white-space: nowrap !important;
    word-wrap: normal !important;
    overflow-x: auto;
}

/* Вирівнювання тексту нотаток по ширині */
.markdown-preview-view {
    text-align: justify;
}





